.App {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vendMachDiv {
  width: 66.66%;
  margin: auto;
  background-color: lightcyan;
  height: 100%;
  text-align: center;
  border: 5px black solid;
}

h1 {
  font-size: 4rem;
}

